*{
    font-family: sans-serif;
}
.nav-link , .navbar-brand{
    color: white;
}
svg{
    fill: white;
}
.col-md-4{
    margin: auto;
}
@media(min-width:771px){
.container-fluid .row .link .text{
    color: black;
}
}
@media(max-width:770px){
    .row{
        position: relative;
    }
    .col-md-4{
        position: absolute;
        
    bottom: 0;
    left: 0;
    }
    .container-fluid .row .link .text{
        color: white;
    }
  
}
.container-fluid .row .link .text:hover{
    text-decoration: none;
}
.container .row .link .text-dark:hover{
text-decoration: none;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
    border-radius: 5px;
}
.img-fluid{
    background-size: cove;
}
@media(max-width:990px){
    footer .container-fluid .row .col-lg-4, .col-lg-2 {
        text-align: center;
         font-size: 19px;
         display: flex;
         flex-direction: column;
         gap: 20px;
        
    }
    footer .container-fluid .row .size{
        font-size: 20px;

       

    }

}
